{% extends "base.html" %} 
{% load static %} 
{% block content %} 

  {% comment %} HEAD                          {% endcomment %} {% include "./partials/head.html" %} 
  {% comment %} BANNER                        {% endcomment %} {% include "./partials/banner.html" %} 
  {% comment %} Categories             		  {% endcomment %} {% include "./partials/categories.html" %} 
  {% comment %} Job Posts           		  {% endcomment %} {% include "./partials/job_posts.html" %} 
  {% comment %} Number of Jobs, Members etc   {% endcomment %} {% include "./partials/number_of_jobs.html" %} 
  {% comment %} Testimonial                   {% endcomment %} {% include "./partials/testimonial.html" %} 
  {% comment %} Our Blog                      {% endcomment %} {% include "./partials/blog.html" %} 
  {% comment %} Newsletter                    {% endcomment %} {% include "./partials/newsletter.html" %} 
  
{% endblock content %}
