{% extends "base.html" %} 
{% load static %} 
{% block content %} 

  {% comment %} HEAD                          {% endcomment %} {% include "./partials/head.html" %} 
  {% comment %} BANNER                        {% endcomment %} {% include "./partials/banner.html" %} 
  {% comment %} Current Job Posts             {% endcomment %} {% include "./partials/current_job_posts.html" %} 
  {% comment %} Recently Added Jobs           {% endcomment %} {% include "./partials/recently_added_jobs.html" %} 
  {% comment %} Number of Jobs, Members etc   {% endcomment %} {% include "./partials/number_of_jobs.html" %} 
  {% comment %} Testimonial                   {% endcomment %} {% include "./partials/testimonial.html" %} 
  {% comment %} Our Blog                      {% endcomment %} {% include "./partials/blog.html" %} 
  {% comment %} Newsletter                    {% endcomment %} {% include "./partials/newsletter.html" %} 
  
{% endblock content %}
